<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.wildbody.kite.Dto.Article" alias="Article"/>
    <typeAlias type="com.wildbody.kite.Dto.Member" alias="Member"/>
    <typeAlias type="com.wildbody.kite.Dto.Token" alias="Token"/>
  </typeAliases>

  <mappers>
    <mapper resource="mybatis/articleSQLMapper.xml"/>
    <mapper resource="mybatis/memberSQLMapper.xml"/>
    <mapper resource="mybatis/tokenSQLMapper.xml"/>
  </mappers>
</configuration>
